@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;900&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  direction: rtl;
  font-family: "Heebo", sans-serif;
  animation: fadeIn 1s ease-in-out 1;
}

h1 {
  font-weight: 900;
  text-align: right;
  letter-spacing: 0px;
  color: #020253;
  opacity: 1;
  padding-bottom: 12px;
}

p {
  font-weight: 500;
  color: #020253;
}

.row {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.row > * {
  padding: 0;
}

.img {
  background-image: url(../images/project-screenshots/Coffee1.png);
  height: 100%;
  background-size: cover;
  background-position: left;
  background-position: center;
}

.col-md-5 {
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  max-width: 420px;
  padding: 16px;
}

label {
  display: block;
  margin: 20px 0;
  color: #2c2c2c;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.form-control {
  background-color: #e5eeff;
  border-style: none;
  border-radius: 0px;
  border-bottom: solid #020253;
}

.btn-primary {
  background-color: #020253;
  padding: 7px 40px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .row {
    position: static;
    flex-flow: wrap-reverse;
  }

  form {
    margin-top: 60px;
  }

  .img {
    height: 200px;
  }
}
